.site-header {
    min-height: 500px;
    position: relative;
    
    .container {
        z-index: 10;
    }
    
    h1 {
        @include media-breakpoint-down(sm) {
            font-size: 1.6em;
        }
    }
    
    h2 {
        @include media-breakpoint-down(sm) {
            font-size: 1.3em;
        }
    }
}

.site-header--main {
    background-image: url("/img/cover.jpg");
    background-size: cover;
    background-position: center;
}

.site-header--main:before {
    @extend .section--parallax, :before;
}

.site-header--main:after {
    @extend .section--parallax, :after;
}